:root {
    --font-family: "Roboto Condensed", sans-serif;
    --second-family: "Raleway", sans-serif;
}

body {
    /* padding: 0px 360px; */
    
} 
header {
    padding-top: 35px;
}

ul {
    padding-left: 185px;
}
li {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.03em;

    padding: 0px 22.5px;
}
.header {
    background-image: url(/picture/background-main.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px 360px;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin: 0px;
}
section, footer {
    padding: 0px 360px;
}

section {
    margin-top: 200px;
    
}

h1 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 200px;
    letter-spacing: 0em;
    color: #0d302c;
}
h2 {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 48px;
    letter-spacing: 0.01em;
    color: #01353e;
    margin-bottom: 100px;
}

h6 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.03em;
    color: #000;
}
p {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: 0.04em;
    color: #242121;
}

ul {
    list-style-type:  none;
}

li {
    color: #fff;
}

.grid_1 {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px 120px;
}
.flex_1 {
    display: flex;
}
.flex_2 {
    display: flex;
    align-items: center;
}

.part_3 {
    display: flex;
    flex: 50% 50%;
}
.part_8 {
    background-color: #F8F8F8;
}

footer {
    background-color: #00B2A0;
}

a {
    color: unset;
}
.x_1 {
    background-image: url(/picture/background-2.png);
}